@import "../../gblobal.scss";

.contact{
    background-color: white;
    display: flex;
    @include mobile{
            flex-direction: column;
    }

    .left{
        flex: 1;
        overflow: hidden;
        img{
            height: 100%;
        }
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 30px;
        }

        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            input{
                width: 300px;
                height: 30px;
                font-size: 15px;
                @include mobile{
                    width: 200px;
                    height: 20px;
                }
            }
            textarea{
                width: 300px;
                height: 200px;
                font-size: 16px;
                resize: none;
                outline: none;
                @include mobile{
                    width: 200px;
                    height: 100px;
                }
            }
            button{
                width: 150px;
                height: 30px;
                color: whitesmoke;
                background-color: rgb(221, 143, 159);
                border: none;
                font-weight: 300;
                border-radius: 10px;

                 &:focus{
                    outline: none;
                 }
            }
            p{
                color: green;
            }

        }
    }
}